extends ../../layout.pug

block content
    .contenedorVolverCrear
        a.link(href="../")
            | Volver Atrás
            img(src='/images/volver.png', alt="Flecha hacia atrás")
    .formulario
        h1.text-center TRASLADAR VACUNAS A CENTRO DE VACUNACION
        .container
            form.form(action="alta" method="post")
                .row.justify-content-between
                    .col-md-6
                        .form-group
                            label(for="idDepProv") DEPOSITO PROVINCIAL ENVIA:
                            input.form-control(type="text" name="idDepProv" id="idDepProv" value=`${distri.DepositoProvincial.idDepProv} - ${distri.DepositoProvincial.nombre}` readonly)
                        .form-group
                            label(for="nroLote") LOTE:
                            input.form-control(type="text" name="nroLote" id="nroLote" value=`${distri.LoteProveedor.nroLote} - ${distri.LoteProveedor.nombreComercial}` readonly)
                        .form-group
                            label(for="cantidadDeVacunas") CANTIDAD DE VACUNAS:
                            input.form-control(type="number" name="cantidadDeVacunas" id="cantidadDeVacunas" min="1" max=`${distri.cantidadDeVacunas}` placeholder=`Valores entre 1 y ${distri.cantidadDeVacunas}` required)
                    .col-md-6
                        .form-group
                            label(for="idCentro") CENTRO DE VACUNACION RECIBE:
                            select.form-control(name="idCentro" id="idCentro" required)
                                each cen in centros
                                    option(value=`${cen.idCentro}`) #{cen.idCentro}  - #{cen.nombre}
                        .form-group
                            label(for="fechaDeSalidaDepProv") FECHA DE SALIDA:
                            input.form-control(type="date" name="fechaDeSalidaDepProv" id="fechaDeSalidaDepProv" required)
                        .form-group
                            label(for="fechaLlegadaCentro") FECHA DE LLEGADA:
                            input.form-control(type="date" name="fechaLlegadaCentro" id="fechaLlegadaCentro" required)
                        .form-group
                            input.form-control.btn.btn-light(type="submit", value="Guardar")