extends ../../layout.pug

block content
    .contenedorVolverCrear
        a.link(href="/distribucion/distribucionCentroVac")
            | Volver Atrás
            img(src='/images/volver.png', alt="Flecha hacia atrás")
    h2 INGRESOS EN PROCESO:
    table.table#tabla
        thead
            tr
                th ID
                th DEPOSITO PROVINCIAL
                th LOTE PROVEEDOR
                th CENTRO DE VACUNACION
                th CANTIDAD VACUNAS
                th FECHA DE SALIDA
                th FECHA DE LLEGADA
                th OPCIONES

        tbody
            each ingreso in ingresos
                tr
                    td= ingreso.idDisCentro
                    td= ingreso.DepositoProvincial.idDepProv+" - "+ingreso.DepositoProvincial.nombre
                    td= ingreso.LoteProveedor.nroLote+" - "+ingreso.LoteProveedor.nombreComercial
                    td= ingreso.DistribucionCentroVac.idCentro+" - "+ingreso.DistribucionCentroVac.nombre
                    td= ingreso.cantidadDeVacunas
                    td= ingreso.fechaDeSalidaDepProv
                    td En Proceso
                    td(style="display: flex;")
                        form(action=`/distribucion/distribucionCentroVac/registrarIngreso/${ingreso.idDisCentro}`, method="get")
                                input.btn.btn-primary(type="submit", value="Seleccionar")