extends ../../layout.pug

block content
    if rol == "Administrador"
        .contenedorVolverCrear
            a.link(href="/")
                | Volver Atr치s
                img(src='/images/volver.png', alt="Flecha hacia atr치s")
        h4(style="margin:20px;") LISTA DE DISTRIBUCION A CENTROS DE VACUNACION
    else
        .contenedorVolverCrear
            a.link(href="/")
                | Volver Atr치s
                img(src='/images/volver.png', alt="Flecha hacia atr치s")
            .formOpciones(style="display: flex;")
                h5
                    form(action=`/distribucion/distribucionCentroVac/depositos`, method="get")
                        input(type="submit", value="Solicitar Vacunas")
        a.linkopcion(href="/distribucion/distribucionCentroVac/registrarIngreso" style="margin-right:10px;") Listar Ingresos en Proceso
        a.linkopcion(href="/distribucion/distribucionCentroVac/solicitudes" style="margin-right:10px;") Mis Solicitudes
        a.linkopcion(href="/distribucion/distribucionCentroVac/registroEnvios" style="margin-right:10px;") Registro de Envios
        a.linkopcion(href="/distribucion/distribucionCentroVac/registroDescartes" style="margin-right:10px;") Registro de Descartes
        h4(style="margin:20px;") LISTA DE DISTRIBUCION A CENTROS DE VACUNACION
    table.table#tabla
        thead
            tr
                th ID
                th DEPOSITO PROVINCIAL
                th LOTE PROVEEDOR
                th CENTRO DE VACUNACION
                th CANTIDAD VACUNAS
                th FECHA SALIDA
                th FECHA LLEGADA
                th OPCIONES
        tbody
            each dis in listaDeDistribucion
                tr
                    td= dis.idDisCentro
                    td= dis.DepositoProvincial.idDepProv+" - "+dis.DepositoProvincial.nombre
                    td= dis.LoteProveedor.nroLote+" - "+dis.LoteProveedor.nombreComercial
                    td= dis.DistribucionCentroVac.idCentro+" - "+dis.DistribucionCentroVac.nombre
                    td= dis.cantidadDeVacunas
                    td= dis.fechaDeSalidaDepProv
                    td= dis.fechaLlegadaCentro
                    td(style="display: flex;")
                        if rol == "Administrador"
                            form(action=`/distribucion/distribucionCentroVac/editar/${dis.idDisCentro}`, method="get")
                                input.btn.btn-primary(type="submit", value="Editar")
                            input.btn.btn-danger(type="button" onclick=`eliminarRegistroCentroVac(${dis.idDisCentro},this)` value="Eliminar")
                        else
                            form(action=`/distribucion/distribucionCentroVac/consultar/${dis.idDisCentro}`, method="get")
                                input.btn.btn-primary(type="submit", value="Consultar")
                            