extends ../../layout.pug

block content
    .contenedorVolverCrear
        a.link(href="/distribucion")
            | Volver Atrás
            img(src='/images/volver.png', alt="Flecha hacia atrás")
        h5
            form(action=`/distribucion/distribucionCentroVac/depositos`, method="get")
                input(type="submit", value="Añadir Registro Distribucion Centro de Vacunacion")
    a.linkopcion(href="/distribucion/distribucionCentroVac/stock") Stock disponible para Vacunar
    table.table#tabla
        thead
            tr
                th ID
                th DEPOSITO PROVINCIAL QUE ENVIA
                th LOTE PROVEEDOR
                th CENTRO DE VACUNACION QUE RECIBE
                th CANTIDAD VACUNAS
                th FECHA SALIDA
                th FECHA LLEGADA
                th OPCIONES
        tbody
            each dis in listaDeDistribucion
                tr
                    td= dis.idDisCentro
                    td= dis.DepositoProvincial.idDepProv+" - "+dis.DepositoProvincial.nombre
                    td= dis.LoteProveedor.nroLote+" - "+dis.LoteProveedor.nombreComercial
                    td= dis.CentroDeVacunacion.idCentro+" - "+dis.CentroDeVacunacion.nombre
                    td= dis.cantidadDeVacunas
                    td= dis.fechaDeSalidaDepProv
                    td= dis.fechaLlegadaCentro
                    td(style="display: flex;")
                        if dis.LoteProveedor.vencidas
                            form(action=`/distribucion/distribucionCentroVac/consultar/${dis.idDisCentro}`, method="get")
                                input.btn.btn-primary(type="submit", value="Consultar")
                            form(action=`/distribucion/distribucionCentroVac/eliminar/${dis.idDisCentro}?_method=DELETE`, method="post")
                                input.btn.btn-danger(type="submit", value="Eliminar")
                        else
                            form(action=`/distribucion/distribucionCentroVac/consultar/${dis.idDisCentro}`, method="get")
                                input.btn.btn-primary(type="submit", value="Consultar")
                            form(action=`/distribucion/distribucionCentroVac/editar/${dis.idDisCentro}`, method="get")
                                input.btn.btn-secondary(type="submit", value="Editar")
                            form(action=`/distribucion/distribucionCentroVac/eliminar/${dis.idDisCentro}?_method=DELETE`, method="post")
                                input.btn.btn-danger(type="submit", value="Eliminar")
                                    
                            
                            