extends ../layout.pug

block content
    .contenedorVolverCrear
        a.link(href="/")
            | Volver Atrás
            img(src='/images/volver.png', alt="Flecha hacia atrás")
        h5
            form(action=`/laboratorio/crear`, method="get")
                input(type="submit", value="Añadir Nuevo Laboratorio")
    .listadoxfecha
        form.form(action=`/laboratorio/vacunasCompradas`, method="post")
            .row.justify-content-start
                .col-md-6(style="display: flex; align-items: center;justify-content: center;")
                    p Listar vacunas compradas por rango de fechas:
                .col-md-2
                    .form-group
                        label(for="fechaInicio") Fecha inicio:
                        input.form-control(type="date" name="fechaInicio" id="fechaInicio")
                .col-md-2
                    .form-group
                        label(for="fechaFin") Fecha fin:
                        input.form-control(type="date" name="fechaFin" id="fechaFin")
                .col-md-2
                    .form-group
                        label(for="")
                        input.form-control.btn.btn-primary(type="submit", value="Listar")
    table.table#tabla
        thead
            tr
                th ID
                th NOMBRE
                th PAIS
                th PROVINCIA
                th EMAIL
                th TELEFONO
                th DIRECCION
                th OPCIONES
        tbody
            each tarea in listaDeLaboratorios
                tr
                    td= tarea.idLab
                    td= tarea.nombre
                    td= tarea.pais
                    td= tarea.provincia
                    td= tarea.email
                    td= tarea.telefono
                    td= tarea.direccion
                    td(style="display: flex;")
                        form(action=`/laboratorio/editar/${tarea.idLab}`, method="get")
                            input.btn.btn-primary(type="submit", value="Editar")
                        form(action=`/laboratorio/eliminar/${tarea.idLab}?_method=DELETE`, method="post")
                            input.btn.btn-danger(type="submit", value="Borrar")
