extends ../layout.pug

block content
    .contenedorVolverCrear
        a.link(href="/traslado/listaSolicitudes")
            | Volver Atrás
            img(src='/images/volver.png', alt="Flecha hacia atrás")
    .formulario
        h1.text-center Enviar vacunas solicitadas
        .container
            form.form(action=`/traslado/enviar/${traslado.idTraslado}?_method=PUT` method="post")
                .row.justify-content-between
                    .col-md-5
                        .form-group
                            label(for="idCentroEnvia") CENTRO QUE ENVIA:
                            input.form-control(type="text" name="idCentroEnvia" id="idCentroEnvia" value=`${traslado.idCentroEnvia} - ${traslado.centroEnvia.nombre}` readonly)
                        .form-group
                            label(for="nroLote") LOTE:
                            input.form-control(type="text" name="nroLote" id="nroLote" value=`${traslado.nroLote} - ${traslado.LoteProveedor.nombreComercial}` readonly)
                        .form-group
                            label(for="cantidadDeVacunas") CANTIDAD DE VACUNAS:
                            input.form-control(type="number" name="cantidadDeVacunas" id="cantidadDeVacunas" value=`${traslado.cantidadDeVacunas}` readonly)
                    .col-md-5
                        .form-group
                            label(for="idCentroRecibe") CENTRO QUE RECIBE:
                            input.form-control(type="text" name="idCentroRecibe" id="idCentroRecibe" value=`${traslado.idCentroRecibe} - ${traslado.centroRecibe.nombre}` readonly)
                        .form-group
                            label(for="fechaSalida") FECHA DE SALIDA:
                            input.form-control(type="date" name="fechaSalida" id="fechaSalida" max=`${traslado.LoteProveedor.fechaDeVencimiento}` required)
                        .form-group
                            //input.form-control.btn.btn-light(type="number" name="idDisCentro" id="idDisCentro" value=`${distri.idDisCentro}` hidden)min=`${distri.fechaLlegadaCentro}` 
                            input.form-control.btn.btn-light(type="submit", value="Enviar")