extends ../../layout.pug

block content
    .contenedorVolverCrear
        a.link(href="./")
            | Volver Atrás
            img(src='/images/volver.png', alt="Flecha hacia atrás")
    h2 Listado de Lotes Disponibles.
    p Seleccione el Lote que desea Solicitar.
    table.table#tabla
        thead
            tr
                th DEPOSITO NACIONAL
                th LOTE PROVEEDOR
                th CANTIDAD DE VACUNAS
                th OPCIONES
        tbody
            each dep in ListaDepositos
                tr
                    td= dep.DepositoNacional.idDepNac +" - "+ dep.DepositoNacional.nombre
                    td= dep.LoteProveedor.nroLote +" - "+ dep.LoteProveedor.nombreComercial
                    td= dep.cantidadDeVacunas
                    td 
                        form(action=`/distribucion/distribucionDepoPro/deposito/lote/${dep.DepositoNacional.idDepNac}/${dep.nroLote}`, method="get")
                            input.btn.btn-primary(type="submit", value="Seleccionar")