extends ../../layout.pug

block content
    .contenedorVolverCrear
        a.link(href="../")
            | Volver Atrás
            img(src='/images/volver.png', alt="Flecha hacia atrás")
    .consulta
        h1 INFORMACION DE DISTRIBUCION ID: #{distri.idTrasladoDep}.
        .contenido
            h4 LOTE PROVEEDOR:
            ol 
                li ID: #{distri.nroLote}
                li NOMBRE COMERCIAL: #{distri.LoteProveedor.nombreComercial}
                li CANTIDAD DE VACUNAS QUE CONTIENE: #{distri.LoteProveedor.cantidadDeVacunas}
                li TIPO DE FRASCO: #{distri.LoteProveedor.tipoDeFrasco}
                li TIPO DE VACUNA: #{distri.LoteProveedor.TipoVacuna.nombre}
                li LABORATORIO: #{distri.LoteProveedor.Laboratorio.nombre}
                li FECHA DE FABRICACION: #{distri.LoteProveedor.fechaDeFabricacion}
                li FECHA DE VENCIMIENTO: #{distri.LoteProveedor.fechaDeVencimiento}
                if distri.LoteProveedor.vencidas
                    li VENCIDAS: SI
        .contenido
            h4 DEPOSITO NACIONAL QUE RECIBE: 
            ol
                li ID: #{distri.idDepNac}
                li NOMBRE: #{distri.DepositoNacional.nombre}
                li PROVINCIA: #{distri.DepositoNacional.provincia}
                li LOCALIDAD: #{distri.DepositoNacional.localidad}
                li DIRECCION: #{distri.DepositoNacional.direccion}
        .contenido
            h5 CANTIDAD DE VACUNAS QUE SE ENVIAN: #{distri.cantidadDeVacunas}
            h5 FECHA DE COMPRA: #{distri.fechaDeCompra}
            if distri.fechaDeAdquisicion == null 
                h5 FECHA DE ADQUISICION: En proceso
            else
                h5 FECHA DE ADQUISICION: #{distri.fechaDeAdquisicion}