extends ../layout.pug

block content
    if rol == "Administrador"
        .contenedorVolverCrear
            a.link(href="/")
                | Volver Atrás
                img(src='/images/volver.png', alt="Flecha hacia atrás")
            h5
                form(action=`/laboratorio/crear`, method="get")
                    input(type="submit", value="Añadir Laboratorio")
    else
        .contenedorVolverCrear
            a.link(href="/")
                | Volver Atrás
                img(src='/images/volver.png', alt="Flecha hacia atrás")
            h5
                form(action=`/loteProveedor/crear`, method="get")
                    input(type="submit", value="Añadir Nuevo Lote Proveedor")
        a.linkopcion(href="/loteProveedor/listar") Registro de Lotes Almacenados en todo el Pais
        a.linkopcion(href="/loteProveedor/listarVacunasVencidas") Vacunas Vencidas
        a.linkopcion(href="/loteProveedor/lotesSinEnviar") Lotes sin Enviar
    h4(style="margin:20px;") LISTA DE LOTES PROVEEDORES
    table.table#tabla
        thead
            tr
                th NUMERO DE LOTE
                th NOMBRE COMERCIAL
                th TIPO DE VACUNA
                th CANTIDAD DE VACUNAS
                th OPCIONES
        tbody
            each lote in listaDeLotesProveedores
                tr
                    td= lote.nroLote
                    td= lote.nombreComercial
                    td= lote.TipoVacuna.nombre
                    td= lote.cantidadDeVacunas
                    td(style="display: flex;")
                        if rol == "Administrador"
                            form(action=`/loteProveedor/editar/${lote.nroLote}`, method="get")
                                input.btn.btn-primary(type="submit", value="Editar")
                            input.btn.btn-danger(type="button" onclick=`eliminarLoteProveedor(${lote.nroLote},this)` value="Eliminar")
                        else 
                            form(action=`/loteProveedor/consultar/${lote.nroLote}`, method="get")
                                input.btn.btn-primary(type="submit", value="Consultar")