extends ../layout.pug

block content
    .contenedorVolverCrear
        a.link(href="/")
            | Volver Atrás
            img(src='/images/volver.png', alt="Flecha hacia atrás")
        h5
            form(action=`/loteProveedor/crear`, method="get")
                input(type="submit", value="Añadir Nuevo Lote Proveedor")
    a.linkopcion(href="/loteProveedor/listar") Listar Lote Proveedores almacenados en todo el pais
    a.linkopcion(href="/loteProveedor/listarVacunasVencidas") Cantidad de Vacunas Vencidas
    table.table#tabla
        thead
            tr
                th NUMERO DE LOTE
                th LABORATORIO
                th TIPO DE VACUNA
                th TIPO DE FRASCO
                th NOMBRE COMERCIAL
                th CANTIDAD DE VACUNAS
                th FECHA DE FABRICACION
                th FECHA DE VENCIMIENTO
                th FECHA DE COMPRA
                th VENCIDAS
                th OPCIONES
        tbody
            each lote in listaDeLotesProveedores
                tr
                    td= lote.nroLote
                    td= lote.Laboratorio.nombre
                    td= lote.TipoVacuna.nombre
                    td= lote.tipoDeFrasco
                    td= lote.nombreComercial
                    td= lote.cantidadDeVacunas
                    td= lote.fechaDeFabricacion
                    td= lote.fechaDeVencimiento
                    td= lote.fechaDeCompra
                    if lote.vencidas
                        td="Si"
                    else
                        td="No"
                    td(style="display: flex;")
                        if !lote.vencidas
                            form(action=`/loteProveedor/editar/${lote.nroLote}`, method="get")
                                input.btn.btn-primary(type="submit", value="Editar")
                            form(action=`/loteProveedor/eliminar/${lote.nroLote}?_method=DELETE`, method="post")
                                input.btn.btn-danger(type="submit", value="Borrar")
                        else 
                            label no manipulable
