extends ../layout.pug

block content
    .contenedorVolverCrear
        a.link(href="./")
            | Volver Atrás
            img(src='/images/volver.png', alt="Flecha hacia atrás")
    h4 REGISTRO DE DISTRIBUCION DE LOTES POR TIPO DE VACUNA:
    table.table#tabla
        thead
            tr
                th TIPO DE VACUNA
                th ALMACENADAS EN NACION
                th ALMACENADAS EN PROVINCIA
                th ALMACENADAS EN CENTRO DE VACUNACION
                th APLICADAS
                th DESCARTADAS
                th VENCIDAS
                th OPCIONES
        tbody
            each lote in listaLotes
                tr
                    td= lote.nombre
                    td= lote.almacenadasEnNacion
                    td= lote.almacenadasEnProvincia
                    td= lote.almacenadasEnCentro
                    td= lote.aplicadas
                    td= lote.descartadas
                    td= lote.vencidas
                    td(style="display: flex;")
                        form(action=`/loteProveedor/listar/consultar`, method="post")
                            label(for="nombre")
                            input.form-control(type="text" name="nombre" id="nombre" value=`${lote.nombre}` hidden)
                            input.btn.btn-primary(type="submit", value="Consultar")