extends ../layout.pug

block content
    if rol == "Administrador"
        .contenedorVolverCrear
            a.link(href="/")
                | Volver Atrás
                img(src='/images/volver.png', alt="Flecha hacia atrás")
            h5
                form(action=`/depositoProvincial/crear`, method="get")
                    input(type="submit", value="Añadir Deposito Provincial")
        h4(style="margin:20px;") LISTA DE DEPOSITOS PROVINCIALES
    else 
        .contenedorVolverCrear
            a.link(href="/")
                | Volver Atrás
                img(src='/images/volver.png', alt="Flecha hacia atrás")
        h3(style="margin:20px;")  Lista de Depositos Provinciales de #{provincia} en donde trabaja:
    table.table#tabla
        thead
            tr
                th ID
                th NOMBRE
                th LOCALIDAD
                th DIRECCION
                th OPCIONES
        tbody
            each depPro in listaDeDepositosProvinciales
                tr
                    td= depPro.idDepProv
                    td= depPro.nombre
                    td= depPro.localidad
                    td= depPro.direccion
                    td(style="display: flex;")
                        if rol == "Administrador"
                            form(action=`/depositoProvincial/editar/${depPro.idDepProv}`, method="get")
                                input.btn.btn-primary(type="submit", value="Editar")
                            input.btn.btn-danger(type="button" onclick=`eliminarDepoProv(${depPro.idDepProv},this)` value="Eliminar")
                        else 
                            form(action=`/depositoProvincial/stock/${depPro.idDepProv}`, method="get")
                                input.btn.btn-success(type="submit", value="Stock")
